<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" href="/assets/images/favicon/favicon.svg" />
<link rel="mask-icon" href="/assets/images/favicon/favicon.svg" color="#000000">
<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="TOMO" />
<link rel="manifest" href="/assets/images/favicon/site.webmanifest" />